<div class="container">
        
    <h2>Profile</h2>

    <pcd-expandable-container data-header="Personal Details">
        <button ng-if="showed" class="btn btn-sm btn-primary" ng-click="edit()">Edit</button>
        <pcd-views>
            <pcd-view name="show" initial>
                <p>Hi, there</p>
            </pcd-view>
            <pcd-view name="edit">
                <div style="height: 100px; margin-bottom: 15px;">
                    <label class="label-block">First Name</label>
                    <input type="text" ng-model="firstname" class="input-text-default">
                    <label class="label-block">Last Name</label>
                    <input type="text" class="input-text-default">
                </div>
                <button class="btn btn-sm btn-primary" ng-click="save()">Save</button>
                <button class="btn btn-sm btn-primary" ng-click="cancel()">Cancel</button>
            </pcd-view>
        </pcd-views>
        
    </pcd-expandable-container>

    <pcd-expandable-container data-header="Login">

    </pcd-expandable-container>
</div>